/node_modules
/vendor
tech.txt
.env
.env.*
!.env.example
/storage/*.key
/storage/pail
/public/storage
/public/build
/public/hot
/public/vendor
/DOCUMENTACION
Homestead.json
Homestead.yaml
.DS_Store
.phpunit.result.cache
.phpactor.json
/.idea
/.vscode
/.codex
/.cursor
/.nova
/auth.json
_ide_helper.php
*.log
*.sql
*.zip
*.sh
